*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
img{
    width: 200px;
    height: 200px;
    filter: blur(10px);
    transition: transform, 1000ms ease-in-out 500ms, filter 500ms ease-in-out;
}
img:hover{
    filter: blur(0);
    transform: rotate(720deg);
}
