* {
    margin: 0;
    padding: 0;
}
.d-grid {
    display: grid;
}
.align-items-center {
    align-items: center;
}
.text-align-right {
    text-align: right;
}
.grid-template-columns-1 {
    grid-template-columns: 1fr;
}
.grid-template-columns-1fr-auto {
    grid-template-columns: 1fr auto;
}
a {
    text-decoration: none;
    color: rgb(84, 138, 255);
}

body {
    grid-template-columns: auto 1fr;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
aside {
    background-color: rgb(63, 72, 94);
    color: white;
    padding: 0 30px 0 60px;
}

h3 {
    font-weight: 300;
    color: rgb(161, 167, 182);
}
button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 12px;
}
main {
    padding: 50px;
    grid-template-rows: 1fr 1fr;
}
p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(179, 179, 179);
}
hr {
    margin-bottom: 30px;
    opacity: 0.3;
}
h1 {
    margin: 3px;
    font-size: 30px;
}
.category {
    color: white;
    padding: 2px 7px;
    font-size: 11px;
}
.post-header {
    justify-content: space-between;
}
.css {
    background-color: rgb(49, 209, 62);
}
.html {
    background-color: rgb(95, 95, 255);
}
.js {
    background-color: rgb(243, 24, 115);
}
.poster-picture {
    width: 50px;
    border-radius: 50%;
}
.post-description {
    margin: 20px 0;
}
.post-description p {
    color: black;
    font-size: 15px;
    line-height: 27px;
}